/* HERO FULLSCREEN COM IMAGEM */
.hero {
  height: 100vh;
  background: transparent !important;  /* remove qualquer background */
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0);  /* reduza opacidade para ver o vídeo */
  z-index: -1;                     /* atrás do conteúdo da hero */
}

/* Foto circular */
.profile-img-hero{
    width:160px;
    height:160px;
    border-radius:50%;
    border:4px solid white;
    object-fit:cover;
    box-shadow:0 0 25px rgba(0,0,0,0.6);
}

/* Textos da hero */
.hero-title{
    font-size:3rem;
    font-weight:700;
}

.hero-subtitle{
    font-size:1.4rem;
    opacity:0.9;
}

h1,p{
    color: white;
}